body {
    margin: 0;
    padding: 0;
    background-image: url("../Images/menuBackground.jpg");
    background-color: white;
    height: 100px;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.navbar {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
}

.logo {
    float: left;
}

.logo img {
    margin-left: 1em;
    margin-top: .5em;
}

.navLinks {
    float: right;
    font-size: 2em;
}

.navLinks ul {
    list-style-type: none;
}

.navLinks li {
    float: left;
}

.navLinks li a {
    display: block;
    padding-right: 2em;
    padding-left: 2em;
    margin-right: .5em;
    text-decoration: none;
    color: white;
}

.navLinks li a:hover {
    background-color: darkred;
}

.MainDiv{
    margin-top: 7em;
}

.MainDiv div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.MainDiv div input{
    margin-right: 1em;
}

.MainDiv button{
    margin: auto;
    padding: 1em;
    font-size: 1.5em;
    color: white;
    background-color: black;
    border: none;
    display: flex;
}

.MainDiv button:hover{
    background-color: darkred;
}

.UserForm {
    background-color: black;
    color: white;
    border: 5px solid darkred;
    width: 40%;
    margin: auto;
    margin-top: 10em;
    padding: .5em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.UserForm h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: .5em;
    background-color: #333333;
}

.UserForm div {
    margin: .5em;
    text-align: center;
}

.UserForm div input{
    font-size: 1.5em;
    width: 80%;
}